#root-edits {
    .debugWindow {
        z-index: 100000000;
        position: absolute;
        width: 600px;
        height: 400px;
        top: 0;
        left: 0;
    }

    .Options-Container {
        height: 460px !important;
    }

    .Options-Menu {
        min-width: unset !important;
        margin-left: 154px;
        width: 400px;
    }
}

/* Fix gamelist table */
body.fix_breakall {
    div,
    span {
        word-break: break-all !important;
    }
}

body.fix_friendlist {
    /* Gamelist screen, hide bottom right player div */
    .CustomGames .ImgDetails-ButtonContainer {
        display: none !important;
    }

    .CustomGames .ImgDetailsLowerDivider {
        display: none !important;
    }

    /* Channel screen, hide bottom right player div */
    .Multiplayer-Landing .Bottom-ChatList-Divider {
        display: none !important;
    }

    .Multiplayer-Landing .Party-Actions-Container {
        display: none !important;
    }

    .Multiplayer-Landing .SearchingForGame-Container {
        display: none !important;
    }

    /* Channel screen; fill up the tabs so they overlap the bottom right player div */
    .Multiplayer-Landing .Tab-Panel {
        height: 614px !important;
    }

    .Multiplayer-Landing .Tab-Panel .Tab-Panel-Scrollbar-Background-Frame {
        height: 612px !important;
    }

    .Multiplayer-Landing .Tab-Panel .Clans-List-Scrollbar {
        height: 612px !important;
    }

    .Multiplayer-Landing .Tab-Panel .Social-Vertical-FrameDivider {
        height: 612px !important;
    }
}

body.fix_chat {
    /* Hide player icon in chat message */
    .chatArea > .Player-Chat-Message {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }

    .chatArea > .Player-Chat-MultiMessage {
        margin-left: 0px !important;
    }

    .chatArea > .Player-Chat-Message .Player-Icon-Wrapper {
        display: none !important;
    }

    .chatArea > .Player-Chat-MultiMessage .UserPortraitSpacer {
        min-width: 0px !important;
    }

    .chatArea > .Player-Chat-Message .PlayerTag {
        margin-top: 0px !important;
    }

    .chatArea > .Player-Chat-Message .PlayerTag div div {
        display: inline-block;
    }

    .chatArea > .Player-Chat-Message .PlayerTag div .chatMessage {
        display: inline-block;
        margin-left: 4px;
    }

    .chatArea .chatMessage {
        margin-top: 0px !important;
    }
}
